:root {
  --global-heading-spacing: 0 0 30px 0;
  --global-content-body-spacing: 60px;
  --global-interactive-card-spacing: 100px;

  --global-content-mobile-body-spacing: 40px 30px;
}

body {
  font-family: "Overlock";
}

/*Global CSS*/

.about_wrapper .about_text h1,
.our_school .our_school_inner_wrapper h1,
.chairperson .inner_text h1,
.VGS_legacy .inner_vgs_section h1,
.upcoming_events .upcoming_events_inner_wrapper h1,
.our_gallery .gallery_img h1,
.contact_us h1 {
  font-size: 32px;
  font-weight: 900;
  line-height: 39.04px;
  padding: var(--global-heading-spacing);
}
.about_wrapper .about_text h1 span,
.our_school .our_school_inner_wrapper h1 span,
.chairperson .inner_text h1 span,
.VGS_legacy .inner_vgs_section h1 span,
.upcoming_events .upcoming_events_inner_wrapper h1 span,
.our_gallery .gallery_img h1 span,
.contact_us h1 span {
  color: rgba(24, 120, 188, 1);
}

/*
Header + BG Video CSS
*/
.main_wrapper{
    position: relative;
}
.main_wrapper .nav_inner_wrapper {
    padding: 20px 92.72px;
    position: absolute;
    top: 0;
    z-index: 10000;
    width: 100%;
}
.main_wrapper .nav_inner_wrapper {
  padding: 20px 92.72px;
}

.main_wrapper .nav_inner_wrapper ul {
  list-style-type: none;
}
.nav_inner_wrapper {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5),
    rgba(254, 254, 254, 0.5),
    rgb(178 178 178 / 74%),
    rgba(153, 153, 153, 0.5)
  );
  backdrop-filter: blur(10px);
}

.main_wrapper .nav-menu li a {
  color: rgba(255, 255, 255, 1) !important;
  font-size: 18px !important;
  font-weight: 700 !important;
  text-decoration: none;
}

.nav-link::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background-color: #003294 !important;
    transition: width 0.3s;
  }
  
  .nav-link:hover::after {
    width: 100%;
  }

.text_over_video {
  bottom: 27%;
  left: 109px;
  z-index: 10;
}
.text_over_video p:nth-child(1) {
  color: rgba(255, 255, 255, 1);
  font-size: 65px;
  font-weight: 900;
  line-height: 79.3px;
  text-transform: uppercase;
}
.text_over_video p span {
  color: rgba(255, 255, 255, 1);
  font-size: 94px;
  font-weight: 900;
  line-height: 79.3px;
  text-transform: uppercase;
}
.text_over_video p:nth-child(2) {
  color: rgba(255, 255, 255, 1);
  font-size: 48px;
  font-weight: 700;
  line-height: 58.56px;
}

.bg_Video_container {
  display: inline-block; /* Or block, depending on your layout */
  width: 100%; /* Adjust as needed */
  max-width: 100%; /* Ensure responsiveness */
}

video {
  display: block; /* Ensures the video takes up the wrapper space */
  width: 100%; /* Ensures the video is responsive */
  height: auto;
}

.video_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.nav-menu.active {
  left: 0;
}
.hamburger {
  cursor: pointer;
  margin-top: 27px;
  z-index: 1000;
}

.bar {
  background-color: #000;
  width: 24px;
  height: 2px;
  margin: 6px auto;
  transition: all 300ms ease-in-out;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/*About Section CSS*/
.about_wrapper {
  padding: var(--global-content-body-spacing);
}

.about_wrapper .about_text p {
  color: rgba(51, 51, 51, 1);
  font-weight: 400;
  font-size: 18px;
  line-height: 21.96px;
  margin: 0;
}
.about_wrapper .column_inner_text .column_body .icon p {
  font-size: 28px;
  line-height: 32px;
  color: rgba(51, 51, 51, 1);
  font-weight: 900;
}

.about_wrapper .column_inner_text .column_body .icon p span {
  color: rgba(24, 120, 188, 1);
}

.about_wrapper .boxSite p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(51, 51, 51, 1);
}
.about_wrapper .column_body {
  background: rgba(255, 255, 255, 1);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 18px 15px 35px 0 rgba(0, 0, 0, 0.09);
  height: inherit;
}
.about_wrapper .column_inner_text {
  height: 100%;
}

/*Our School Section CSS*/
.our_school,
.VGS_legacy {
  background-color: rgba(221, 236, 245, 1);
  padding: var(--global-content-body-spacing);
}

body .our_school .owl-stage {
  display: flex;
  gap: 25px;
}
body .our_school .owl-item .item {
  background: rgba(255, 255, 255, 1);
  padding: 20.07px;
  border-radius: 10.04px;
  margin: 0 !important;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  transition: 0.5s ease-in-out;
}

.heading_wrapper p {
  font-size: 22.52px;
  line-height: 27.47px;
}
div#box0 .heading_wrapper {
  color: rgba(24, 120, 188, 1);
}
div#box1 .heading_wrapper {
  color: rgba(77, 50, 117, 1);
}
div#box2 .heading_wrapper {
  color: rgba(2, 91, 140, 1);
}
div#box0 .heading_wrapper p:nth-child(1),
div#box1 .heading_wrapper p:nth-child(1),
div#box2 .heading_wrapper p:nth-child(1) {
  font-weight: 700;
}
div#box0 .heading_wrapper p:nth-child(2),
div#box1 .heading_wrapper p:nth-child(2),
div#box2 .heading_wrapper p:nth-child(2) {
  font-weight: 400;
}


#box0:hover { background-color: rgba(24, 120, 188, 1); } #box0:hover .heading_wrapper { color: #ffff; }
#box1:hover { background-color: rgba(77, 50, 117, 1); } #box1:hover .heading_wrapper { color: #ffff; }
#box2:hover { background-color: rgba(2, 91, 140, 1); } #box2:hover .heading_wrapper {  color: #ffff; }

 

/*Chairperson Section CSS*/
.chairperson {
  padding: var(--global-content-body-spacing);
}
.chairperson p {
  font-size: 18px;
  color: rgba(51, 51, 51, 1);
  font-weight: 400;
  line-height: 22.5px;
}
.chairperson button {
  border: none;
  background: rgba(24, 120, 188, 1);
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  line-height: 22.5px;
  font-weight: 700;
  cursor: pointer;
}

.chairperson .col-md-6:nth-child(2) {
  box-shadow: 8px 5px 17px 0 rgb(0 0 0 / 21%);
  padding: 0;
}
.chairperson .col-md-6 {
  border-radius: 10px;
}
.chairperson .col-md-6 img {
  border-radius: 10px;
  height: 432px;
  width: 100%;
  object-fit: cover;
}

/*VGS Legacy Section CSS*/
.VGS_legacy .icon_number_one p span {
  color: rgba(24, 120, 188, 1);
}
.VGS_legacy .icon_number_two p span {
  color: rgba(235, 36, 40, 1);
}
.VGS_legacy .icon_number_three p span {
  color: rgba(15, 122, 25, 1);
}
.VGS_legacy .icon_number_four p span {
  color: rgba(77, 50, 117, 1);
}
.VGS_legacy .inner_vgs_section .icon_number_one p,
.VGS_legacy .inner_vgs_section .icon_number_two p,
.VGS_legacy .inner_vgs_section .icon_number_three p,
.VGS_legacy .inner_vgs_section .icon_number_four p {
  font-weight: 900;
  font-size: 38px;
  line-height: 32px;
}
.VGS_legacy .inner_vgs_section p {
  color: rgba(51, 51, 51, 1);
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  margin: 10px 0 0 0;
}

.row.vgs_box {
  background: rgba(255, 255, 255, 1);
  padding: 10px;
  border-radius: 10px;
}

.VGS_legacy .inner_vgs_section .row .col-md-3:nth-child(2)::after,
.VGS_legacy .inner_vgs_section .row .col-md-3:nth-child(3)::after,
.VGS_legacy .inner_vgs_section .row .col-md-3:nth-child(4)::after {
  content: "";
  position: absolute;
  left: 0;
  width: 1px;
  height: 70%;
  background-color: rgba(160, 157, 157, 1);
}

/*Upcoming Event Section CSS*/
.upcoming_events {
  padding: var(--global-content-body-spacing);
}

.upcoming_events .item .event_body p:nth-child(1) {
  color: rgba(24, 120, 188, 1);
  font-size: 28px;
  font-weight: 700;
  line-height: 29.4px;
}
.upcoming_events .item .event_body p:nth-child(2) {
  color: rgba(51, 51, 51, 1);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.upcoming_events .places_venus p {
  color: rgba(51, 51, 51, 1) !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 32px !important;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 5px;
}

.upcoming_events .item .event_body {
  padding: 15px;
}
.upcoming_events .event_body p span img {
  max-width: 100%;
  width: 13px;
}

body .upcoming_events .owl-item.active {
  height: auto;
}
body .upcoming_events .owl-stage {
  height: 100%;
  display: flex;
  padding-bottom: 60px;
}
body .upcoming_events .item {
  height: 100%;
  background-color: white;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.09);
  border-radius: 10px;
}

/*Our Gallery CSS*/
#image_slider {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 equal columns */
  grid-template-rows: repeat(2, 1fr); /* 2 equal rows */
  grid-gap: 18px;
  height: 100%; /* Set a height to maintain proportional grid cells */
}

.image_carousel div {
  width: 100%;
  height: 100%;
}

div#img1 {
  grid-area: 1 / 1 / 2 / 2; /* Top-left corner */
}

div#img2 {
  grid-area: 1 / 2 / 3 / 4; /* Spanning two columns */
}

div#img3 {
  grid-area: 1 / 4 / 2 / 6; /* Spanning two columns */
}

div#img4 {
  grid-area: 2 / 1 / 3 / 2; /* Bottom-left corner */
}

div#img5 {
  grid-area: 2 / 4 / 3 / 5; /* Less span: occupies 1 column */
}

div#img6 {
  grid-area: 2 / 5 / 3 / 6; /* More span: occupies 2 columns */
}

.our_gallery .image_grid img {
  height: inherit;
  object-fit: cover;
  border-radius: 10px;
}

.gallery_img {
  background: rgba(221, 236, 245, 1);
  padding: var(--global-content-body-spacing);
}

.image_grid {
    position: relative;
}
p.image_grid_title {
    position: absolute;
    bottom: 0;
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    font-size: 19.53px;
    margin-left: 22px;
}

/*Contact Form CSS*/
.contact_us {
  padding: var(--global-content-body-spacing);
}
.contact_us label {
  font-weight: 800;
  display: inline-block;
  font-size: 21px;
  line-height: 24px;
  color: rgba(51, 51, 51, 1);
  margin-bottom: 20px;
}

.contact_us input {
  border: 1px solid rgba(154, 151, 151, 1) !important;
  padding: 16px !important;
  border-radius: 10px !important;
}
.contact_us form {
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact_us .row {
  background: white;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.09);
  border-radius: 10px;
}
.contact_us button {
  background-color: rgba(24, 120, 188, 1) !important;
  font-size: 21px !important;
  line-height: 24px !important;
  color: rgba(255, 255, 255, 1) !important;
  border-radius: 10px;
  padding: 16px 40px;
}
@media (min-width: 768px) {
  .contact_us .col-md-5 {
    flex: 0 0 auto;
    width: 40%;
    background-image: url(Assets/form_img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 495px;
  }
}

@media (min-width: 768px) {
  .contact_us .col-md-6 {
    flex: 0 0 auto;
    width: 60%;
  }
}

/*Footer Section CSS*/
.footer {
  background: rgba(24, 120, 188, 1);
  padding: 40px;
}
.footer .first {
  text-align: left;
}
.footer .first .first_para {
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  text-align: left;
  margin-top: 34px;
  margin-bottom: 27px;
}
.footer .first .second_para {
  font-size: 13px;
  color: rgba(216, 216, 220, 1);
  font-weight: 400;
  text-align: left;
}
.footer .second .footer_navlink p a:nth-child(1) {
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
}
.footer .second .footer_navlink p:nth-child(2) {
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
}
.footer .second .footer_navlink p:nth-child(3) {
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
}
.footer .second p:nth-child(1) {
  font-weight: 900;
  color: rgba(255, 255, 255, 1);
}
.footer .second {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer .third p:nth-child(1) {
  font-weight: 900;
  color: rgba(255, 255, 255, 1);
  text-align: left;
}
.footer .third p:nth-child(2) {
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  text-align: left;
}
.footer .map iframe {
  width: 100%;
  height: 236px;
  border-radius: 16px;
  margin-top: 20px;
}
.footer .social-logos {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

/*Footer Copyright*/
.footer_copyright {
  background: rgba(19, 73, 141, 1);
  padding: 10px 40px;
  color: rgba(219, 219, 233, 1);
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .text_over_video p:nth-child(1),
  .text_over_video p:nth-child(2),
  .text_over_video p span {
    font-size: 20px;
    line-height: inherit;
    margin: 0;
  }
  .nav-menu.active {
    padding: 0;
  }
  .hamburger {
    margin: 0 !important;
  }

  .nav_inner_wrapper .logo img {
    width: 170px;
    height: auto;
  }
  .text_over_video {
    left: 35px;
  }
  .main_wrapper .nav_inner_wrapper {
    position: relative !important;
    padding: 21px 22.72px;
    align-items: center;
  }
  .about_wrapper,
  .our_school,
  .chairperson,
  .VGS_legacy,
  .upcoming_events,
  .our_gallery,
  .contact_us,
  .gallery_img,
  .gallery_img,
  .contact_us,
  .footer {
    padding: var(--global-content-mobile-body-spacing);
  }
  .row.boxSite.pt-5 {
    gap: 28px;
  }
  body .our_school .owl-stage {
    gap: 10px;
  }
  .chairperson button {
    margin-bottom: 17px;
  }
  .VGS_legacy .inner_vgs_section .row .col-md-3:nth-child(2)::after,
  .VGS_legacy .inner_vgs_section .row .col-md-3:nth-child(3)::after,
  .VGS_legacy .inner_vgs_section .row .col-md-3:nth-child(4)::after {
    position: relative;
  }
  .VGS_legacy .inner_vgs_section .row .col-md-3:nth-child(1),
  .VGS_legacy .inner_vgs_section .row .col-md-3:nth-child(2),
  .VGS_legacy .inner_vgs_section .row .col-md-3:nth-child(3) {
    border-bottom: 1px solid rgb(229 229 229);
  }
  .row.vgs_box {
    gap: 20px;
  }
  .owl-theme .owl-nav {
    display: none;
  }
  body .upcoming_events .owl-stage,
  .our_school .owl-stage {
    height: 100%;
    display: flex;
    padding-bottom: 26px;
  }
  .our_gallery {
    padding: 0;
  }
  #image_slider {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .our_gallery .image_grid img {
    width: 100%;
  }
  .footer_navlink {
    display: flex;
    justify-content: space-between;
  }
  .footer .second {
    gap: 0;
  }
  .footer .map {
    display: flex;
  }
  .footer .second p:nth-child(1) {
    display: flex;
    margin-bottom: 24px;
  }

  .nav_inner_wrapper {
    backdrop-filter: inherit;
  }
  .upcoming_events .places_venus p{
    line-height: initial !important;
  }
}


.nav-menu {
  left: -100%;
  top: 0;
  background-color: rgba(24, 120, 188, 1);
  transition: 750ms;
  z-index: 1000;
  gap: 60px;
}

.nav-menu.active {
  left: 0;
}

.nav-item {
  list-style-type: none;
}

.nav-link {
  transition: 400ms ease;
}

.hamburger {
  cursor: pointer;
  margin-top: 27px;
  z-index: 1000;
}

.bar {
  background-color: #000;
  width: 24px;
  height: 2px;
  margin: 6px auto;
  transition: all 300ms ease-in-out;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

@media (min-width: 768px) {
  .nav-menu {
    position: static !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
    gap: 45px;
    width: auto;
    background: transparent;
    margin: 0 !important;
  }

  .hamburger {
    display: none;
  }

  .nav_inner_wrapper .logo img:nth-child(2) {
    display: none;
  }
}


.nav-link::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background-color: rgba(24, 120, 188, 1) !important;
  transition: width 0.3s;
}

.nav-link:hover::after {
  width: 100%;
}



#button {
    display: inline-block;
    background-color: rgba(24, 120, 188, 1);
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #button::after {
    content: "";
    background-image: url(Assets/arrowhead-up.png);
    background-size: cover;
    position: absolute;
    height: 100%;
    filter: invert(1);
    width: 80%;
    display: flex;
}
  #button:hover {
    cursor: pointer;
    background-color: #0b7cc0;
  }
  #button.show {
    opacity: 1;
    visibility: visible;
  }
  